* {
    box-sizing: border-box;
}


.img {
    width: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #21222A;
}

.logo {
    display: flex;
    color: #00D8FF;
    font-weight: 600;
    font-size: 1.5rem;
}

.nav-items {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
   
}

.nav-items > li {
    padding: 0.4em;
    font-weight: 600;
}

.container {
    margin-left: 1em;
    background-image: url('./img/react-icon-large.png');
    background-repeat: no-repeat;
    background-position: right 75%;
}

.headline {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0.4em 0 0 0;
}

.fact-list > li {
    padding: 0.5em;
}

.fact-list > li::marker {
    font-size: 1.4rem;
    color: #00D8FF;
}

.footer {
    margin: 0.5em;
}